@import 'tailwindcss';

@theme {

  
  /* colors */
  --color-blue-950: #10141e;
  --color-blue-900: #161d2f;
  --color-blue-500: #5a698f;
  --color-grey-500: #83858a;

  --color-white: #ffffff;
  /* fonts  */
  --font-primary: 'Outfit', sans-serif;

  /* desktop / tablet / sizes */
  --text-preset-1: 32px;
  --text-preset-2: 24px;
  --text-preset-3: 18px;
  --text-preset-4: 15px;
  --text-preset-5: 13px;

  /* mobile sizes */
  --text-mobile-preset-1: 20px;
  --text-mobile-preset-2: 16px;
  --text-mobile-preset-3: 15px;
  --text-mobile-preset-4: 14px;
  --text-mobile-preset-5: 12px;
  --text-mobile-preset-6: 11px;
  /* line-height */
  --leading-125: 125%;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-blue-950);
  overflow-x: hidden;
}
